<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <main>
    <header class="home__header">
      <h1>Buy me a flower</h1>
    </header>

    <div class="options__wrapper">

      <div class="options__box">
        <div class="inventory__box">
          <a href="/inventory">Inventory</a>
        </div>
      </div>

      <div class="options__box">
        <div class="inventory__box two">
          <a href="/inventory">Inventory</a>
        </div>
      </div>
    </div>

  </main>
</body>
</html>