<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>
  <link rel="stylesheet" href="inventory.css">
</head>
<body>
  <main>
    <header>
      <h1>Inventory</h1>

      <div class="navigation__buttons">
        <button><a href="/">Home</a></button>
        <button><a href="/inventory/create">Add</a></button>
      </div>
      
    </header>
    
    <% if (items.length !== 0) { %>
      <div class="main__container">
        <% items.map(item => { %>
          <div class="item__container">
            <h3><%= item.seed %></h3>
            <button>
              <a href="/inventory/info?id=<%= item.id %>">More info.</a>
            </button>
          </div>
        <% }) %> 
      </div> 
    <% } else { %>
      <p>No items</p>
    <% } %>

  </main>
</body>
</html>