body {
  margin: 0;
  height: 100dvh;
  width: 100%;
  /*background-image: url("/images/image.png");
  background-size: cover;
  background-repeat: no-repeat;*/
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: brown;
}

.home__header {
  color: white;
  flex: 1;
}

.options__wrapper {
  width: 100%;
  flex: 4 0 0;
  display: flex;
}

.options__box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory__box {
  position: relative;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(300px, 20dvw, 800px);
  height: clamp(300px, 20dvw, 800px);
  border-radius: 15px;
  box-shadow: 0px 30px 86px -54px rgba(0,0,0,0.83);
  -webkit-box-shadow: 0px 30px 86px -54px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 30px 86px -54px rgba(0,0,0,0.83);
  background-color: rgba(102, 60, 35, 0.795);
  transition: background-color 0.4s ease-out 100ms;

  text-decoration: none;
  font-size: 20pt;
  color: white;
}

a::after {
  content: "Inventory";
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/image.png");
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.4s ease-in 100ms;

  border-radius: 15px;
  box-shadow: 0px 30px 86px -54px rgba(0,0,0,0.83);
  -webkit-box-shadow: 0px 30px 86px -54px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 30px 86px -54px rgba(0,0,0,0.83);
  background-color: rgba(102, 60, 35, 0.795);
}

a:hover {
  transition: background-color 0.4s ease-in 100ms;
  background-color: transparent;
}

a:hover::after {
  transition: opacity 0.4s ease-in 100ms;
  opacity: 1;
}

/*a {
  height: 100%;
  width: 100%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}*/